<section class="header clearfix">
  <div class="pull-left"><h1>{{t "deltaTasksPage.header"}}</h1></div>

</section>

<section>

    <div class="container-fluid p-4 flex-grow-1" style="overflow:auto">
        <ul class="list-group" style="list-style-type:none;">
          <li key="head" class="list-group-item mb-1 p-0" style="height:60px">
            <div class="container-fluid">
              <div class="row text-left fm16 pt-3">
                <div class="col-3">Actions</div>
                <div class="col-3">Name</div>
                <div class="col-3">Project</div>
                <div class="col-3">Created</div>
              </div>
            </div>
          </li>
        
  {{#each this.model as |task|}}
   <li class="mb-1 p-0" style="height:60px">
        <div class="container-fluid">
          <div class="row text-left fr14 pt-3">
            <div class="col-3">


           
              <span className="pl-3" {{action "handleShow" task.submissionId}} data-toggle="tooltip" data-placement="bottom" title="Edit Project">
                
                  <span class="a-special fa fa-pencil" style="fontSize:14px;cursor:pointer"/>

              </span>

               <span className="pl-3" {{action "handleComplete" task.task_id}}  data-toggle="tooltip" data-placement="bottom" title="Complete">
             
                    <span class="a-special fa fa-check"  style="fontSize:14px;cursor:pointer"/>

                </span>
                 <span className="pl-3" {{action "handleAssign" task.id task.name task.task_id}}  data-toggle="tooltip" data-placement="bottom" title="Assign Task">
             
                    <span class="a-special fa fa-anchor"  style="fontSize:14px;cursor:pointer"/>

                </span>

                <span className="pl-3" {{action "handleDelete" task.id}}  data-toggle="tooltip" data-placement="bottom" title="Delete">
             
                    <span class="a-special fa fa-trash"  style="fontSize:14px;cursor:pointer"/>

                </span>
                

            </div>
            <div class="col-3">{{task.name}}</div>

            <div class="col-3">{{task.project}}</div>
            <div class="col-3">{{task.created}}</div>
          </div>
        </div>
      </li >
  {{/each}}
  </ul>
      </div >

</section>

<BsModal
  @open={{showModal}}
  @onHidden={{action (mut showModal) false}} as |modal|>
  <modal.header>
    <h4 class="modal-title">
      DevOps Project
    </h4>
  </modal.header>
  <modal.body>
    {{formio-start this.submission this.formtype this.task_id}}
  </modal.body>
</BsModal>