<section class="header clearfix">
  <div class="pull-left"><h1>{{t "deltadashboardPage.header"}}</h1></div>
  
</section>



<section class="pl-0 pr-0">

  <button {{action "handleShow"}}>New Project Request</button>
</section>

<BsModal
  @open={{showModal}}
  @onHidden={{action (mut showModal) false}} as |modal|>
  <modal.header>
    <h4 class="modal-title">
      New DevOps Project
    </h4>
  </modal.header>
  <modal.body>
    {{formio-start 0 this.submission this.formtype 1}}
  </modal.body>
</BsModal>