<section class="header clearfix">
  <div class="pull-left"><h1>{{t "deltaHistoryPage.header"}}</h1></div>

</section>

<section>

    <div class="container-fluid p-4 flex-grow-1" style="overflow:auto">
        <ul class="list-group" style="list-style-type:none;">
          <li key="head" class="list-group-item mb-1 p-0" style="height:60px">
            <div class="container-fluid">
              <div class="row text-left fm16 pt-3" style="border: 1px solid;border-radius:5px;padding:8px;">
                <div class="col-2">Actions</div>
                <div class="col-4">Project</div>
                <div class="col-4">Created</div>
              </div>
            </div>
          </li>
        
  {{#each this.model as |task|}}
   <li class="mb-1 p-0" style="height:60px">
        <div class="container-fluid">
          <div class="row text-left fr14 pt-3">
            <div class="col-2">


           
              <span className="pl-0" {{action "handleShow" task.id}} data-toggle="tooltip" data-placement="bottom" title="Edit">
                
                  <span class="a-special fa fa-pencil" style="fontSize:14px;cursor:pointer"/>

              </span>

                <span className="pl-3" {{action "handleDelete" task.id}}  data-toggle="tooltip" data-placement="bottom" title="Delete">
             
                    <span class="a-special fa fa-trash"  style="fontSize:14px;cursor:pointer"/>

                </span>
                <span className="pl-3" {{action "gotoProject" task.id}} data-toggle="tooltip" data-placement="bottom" title="Cluster Project">
                  <span class="a special fa fa-folder" style="fontSize:14px;cursor:pointer"/>
                </span>

            </div>
            <div class="col-4">{{task.project}}</div>
            <div class="col-4">{{task.created}}</div>
          </div>
        </div>
      </li >
  {{/each}}
  </ul>
      </div >

</section>

<BsModal
  @open={{showModal}}
  @onHidden={{action (mut showModal) false}} as |modal|>
  <modal.header>
    <h4 class="modal-title">
      DevOps Project
    </h4>
  </modal.header>
  <modal.body>
    {{formio-start this.submissionId this.submission this.formtype }}
  </modal.body>
</BsModal>